a {
  text-decoration: none;
  color: #e4bccf !important;
  font-weight: 500;
}


a.nav-link, a.navbar-brand {
  color: #fff !important;
}

a.nav-link:hover, a.navbar-brand:hover {
  color: #fff !important;
  text-decoration: underline;
}

a:hover {
    color: #d33682 !important;
    text-decoration: none;
}

ul {list-style-type: none;}

#MainMenu {
  visibility: hidden;
}
footer {
  visibility: hidden;
}
header {
  visibility: hidden;
}